<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
<listeners>
		<listener class-name="listener.Listener" />
		
</listeners>
<test name="Execute Smoke test ">
<parameter name="Url" value="${URL}"></parameter>
<parameter name="UserName" value="${USERNAME}"></parameter>
<parameter name="Password" value="${PASSWORD}"></parameter>
<classes>
<class name="seleniumTest.AppTest"></class>
</classes>
</test>
</suite>


